<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<style scoped lang="sass">

  .style-1
    display: flex
    flex-direction: row

  /**
TestComment **/
  .style-2
    display: grid
    grid-template-columns: 1fr 1fr

</style>
